<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>demo</name>
  <display-name>Enonic Demo Module</display-name>
  <info>Enonic Demo Module</info>
  <url>http://enonic.com/</url>
  <vendor>
    <name>Enonic AS</name>
    <url>http://www.enonic.com</url>
  </vendor>
  <config>
    <field-set name="info">
      <label>Info</label>
      <items>
        <input type="TextLine" name="googleUATrackingId">
          <label>Google UA Tracking ID</label>
          <immutable>false</immutable>
          <indexed>true</indexed>
          <custom-text/>
          <help-text/>
          <occurrences minimum="0" maximum="1"/>
        </input>
          <input name="office" type="ContentSelector">
              <label>Offices</label>
              <help>Used in footer locations</help>
              <immutable>false</immutable>
              <indexed>false</indexed>
              <occurrences minimum="0" maximum="6"/>
              <config>
                  <relationship-type>system:reference</relationship-type>
                  <allow-content-type>office</allow-content-type>
              </config>
          </input>
          <input type="ContentSelector" name="contactPage">
              <label>Contact page</label>
              <immutable>false</immutable>
              <indexed>true</indexed>
              <occurrences minimum="0" maximum="1"/>
              <config>
                  <relationship-type>system:reference</relationship-type>
                  <allow-content-type>landing-page</allow-content-type>
              </config>
          </input>
      </items>

    </field-set>
  </config>
  <x-data mixin="menu-item"/>
</module>
